body {
    margin: 0;
    background-color: #eee;
}

header {
    border-bottom: 2px solid #333;
    color: #eee;
    background-color: #555;
}

section {
    border-bottom: 1px solid #555;
    padding: 2rem 0rem;
}

.click-counter {
    text-align: center;
}

.click-counter > p {
    margin: 0rem 0rem 1rem 0rem;
}

.toggle-switch {
    width: 4rem;
    height: 2rem;
    border-radius: 25%;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on {
    justify-content: flex-end;
}

.inner-border {
    width: 90%;
    height: 85%;
    border-radius: 25%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
}

.inner-circle {
    width: 40%;
    height: 80%;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 0.2rem;
    cursor: pointer;
}

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}